<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/styles.css">
    <title>Title</title>
</head>
<header class="d-flex justify-content-center align-items-center bg-black text-white px-3 mb-4">
    <div class="">
        <img src="../assets/logo.png" alt="">
    </div>
    <div class="ms-3">
        <h1>QuizMania</h1>
    </div>
</header>
<body>
<div class="container">
    <h1 class="mb-5 text-center pb-3 border-bottom">Capitales de los estados de la República Mexicana</h1>

    <div class="row mx-5 mb-5 justify-content-center">
        <div class="col-12 col-sm-10 pt-3 col-lg-8 border">
            <div class="d-flex p-4 ps-5 align-items-center">
                <div>
                    <h1 class="me-5">1</h1>
                </div>
                <div>
                    <h5 class="">¿Cuál es la capital de Jalisco?</h5>
                    <div class="mx-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Guadalajara" id="1">
                            <label class="form-check-label" for="1">
                                Guadalajara
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="2" checked>
                            <label class="form-check-label" for="2">
                                Badiraguato
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="3" checked>
                            <label class="form-check-label" for="3">
                                Hermosillo
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex p-4 ps-5 align-items-center">
                <div>
                    <h1 class=" me-5">2</h1>
                </div>
                <div>
                    <h5 class="">¿Cuál es la capital de Chelowood?</h5>
                    <div class="mx-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Guadalajara" id="1.1">
                            <label class="form-check-label" for="1">
                                Chelorama
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="2.2" checked>
                            <label class="form-check-label" for="2">
                                Mamarselo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="3.3" checked>
                            <label class="form-check-label" for="3">
                                Rucón
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex p-4 ps-5 align-items-center">
                <div>
                    <h1 class=" me-5">3</h1>
                </div>
                <div>
                    <h5 class="">¿Cuál es la capital de Guanajuato?</h5>
                    <div class="mx-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Guadalajara" id="1.1">
                            <label class="form-check-label" for="1">
                                León
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="2.2" checked>
                            <label class="form-check-label" for="2">
                                Guanajuato
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="3.3" checked>
                            <label class="form-check-label" for="3">
                                Tangamandapio
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex p-4 ps-5 align-items-center">
                <div>
                    <h1 class=" me-5">4</h1>
                </div>
                <div>
                    <h5 class="">¿Cuál es la capital de Pícate el Ano?</h5>
                    <div class="mx-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Guadalajara" id="1.1">
                            <label class="form-check-label" for="1">
                                AAAAA
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="2.2" checked>
                            <label class="form-check-label" for="2">
                                EEEEE
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="3.3" checked>
                            <label class="form-check-label" for="3">
                                OOOO
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex p-4 ps-5 align-items-center">
                <div>
                    <h1 class=" me-5">5</h1>
                </div>
                <div>
                    <h5 class="">¿Cuál es la capital de Guanajuato?</h5>
                    <div class="mx-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Guadalajara" id="1.1">
                            <label class="form-check-label" for="1">
                                León
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="2.2" checked>
                            <label class="form-check-label" for="2">
                                Guanajuato
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="3.3" checked>
                            <label class="form-check-label" for="3">
                                Tangamandapio
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center mt-4">
                <button type="button" class="btn btn-primary">Dale!</button>
            </div>
        </div>





    </div>
</div>
</body>
</html>